.page-container {
    display: flex;
    padding: 70px 40px 0 40px;
    justify-content: center;
    min-height: 100vh;
    max-width: 1800px;
    margin: 0 auto;

    .title {
        font-size: 100px;
        margin-bottom: 0;
        color: color(srgb 0.0604 0.4268 0.805);
    }

    .subtitle {
        font-size: 50px;
        margin-top: 10px;
    }

    .title,
    .subtitle {
        span {
            color: color(srgb 0.71 0.0958 0.6655);
        }
    }

    .left {
        flex: 0.7;
    }

    .right {
        flex: 0.25;
    }
}

.background {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

@media (max-width: 1600px) {
    .page-container {
        .left {
            flex: 0.7
        }

        .right {
            flex: 0.3;
        }
    }
}

@media (max-width: 1200px) {
    .page-container {
        padding: 70px 20px 0 20px;

        .left {
            flex: 0.6;
        }

        .right {
            flex: 0.4;
        }
    }
}

@media (max-width: 1000px) {
    .page-container {
        padding: 70px 10px 0 10px;
        flex-direction: column;

        .left {
            flex: 1;
        }

        .right {
            flex: 1;
        }
    }
}