.page-container {
    display: flex;
    padding: 70px 40px 0 40px;
    justify-content: center;
    min-height: 100vh;
    max-width: 1800px;
    margin: 0 auto;

    .title {
        font-size: 100px;
        margin-bottom: 0;
        color: #0f6dcd;
    }

    .subtitle {
        font-size: 50px;
        margin-top: 10px;
        color: #b518aa;
    }

    .title,
    .subtitle {
        margin-left: 30px;
    }

    .left {
        flex: 0.7;
    }

    .right {
        flex: 0.25;
    }
}

.background {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 1600px) {
    .page-container {
        .left {
            flex: 0.7
        }

        .right {
            flex: 0.3;
        }
    }
}

@media (max-width: 1200px) {
    .page-container {
        padding: 70px 20px 0 20px;

        .title {
            font-size: 70px;
            margin-top: 50px;
        }

        .subtitle {
            font-size: 40px;
        }

        .title,
        .subtitle {
            max-width: 600px;
        }

        .left {
            flex: 0.6;
        }

        .right {
            flex: 0.4;
        }
    }
}

@media (max-width: 1000px) {
    .page-container {
        padding: 70px 10px 0 10px;
        flex-direction: column;

        .title,
        .subtitle {
            padding-right: 100px;
        }

        .left {
            flex: 1;
        }

        .right {
            flex: 1;
        }
    }
}

@media (max-width: 700px) {
    .page-container {
        .title {
            font-size: 60px;
        }

        .subtitle {
            font-size: 35px;
        }
    }
}

@media (max-width: 700px) {
    .page-container {

        .title,
        .subtitle {
            margin: 0 auto;
            text-align: center;
            padding: 0 30px;
        }

        .title {
            padding-top: 50px;
        }
    }
}

@media (max-width: 600px) {
    .page-container {
        padding-top: 0;
    }
}

@media (max-width: 550px) {
    .page-container {

        .title,
        .subtitle {
            padding: 0 15px;
        }

        .title {
            padding-top: 50px;
            font-size: 10vw;
        }

        .subtitle {
            font-size: 6.5vw;
        }

    }
}