@use "../utils/colors";

.notAuthenticated {

    .title {
        font-size: 100px;
        color: colors.$blue;
        margin: 0 auto;
        padding: 140px 40px 0 40px;
    }

    .subtitle {
        font-size: 50px;
        margin-top: 10px;
        color: colors.$white;
        padding-left: 40px;
    }

    .title,
    .subtitle {
        margin-left: 30px;
    }
}


@media (max-width: 1200px) {
    .notAuthenticated {

        .title {
            font-size: 70px;
            margin-top: 50px;
        }

        .subtitle {
            font-size: 40px;
        }

        .title,
        .subtitle {
            max-width: 600px;
        }
    }
}

@media (max-width: 1000px) {
    .notAuthenticated {

        .title,
        .subtitle {
            padding-right: 100px;
        }
    }
}

@media (max-width: 700px) {
    .notAuthenticated {

        .title {
            font-size: 60px;
        }

        .subtitle {
            font-size: 35px;
        }

        .title,
        .subtitle {
            margin: 0 auto;
            text-align: center;
            padding: 0 30px;
        }

        .title {
            padding-top: 50px;
        }
    }
}

@media (max-width: 600px) {
    .notAuthenticated {
        padding-top: 0;
    }
}

@media (max-width: 550px) {
    .notAuthenticated {

        .title,
        .subtitle {
            padding: 0 15px;
        }

        .title {
            padding-top: 50px;
            font-size: 10vw;
        }

        .subtitle {
            font-size: 6.5vw;
        }

    }
}