.playlistsContainer {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 35px;
    }

    &__items {
        margin: 0 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__buttons {
        padding-top: 10px;
        margin: 30px auto 0 auto;
    }

    .selectSongs {
        display: flex;
        margin: 0 auto;

        .playlistSongs {
            width: 80vw;
        }

        .selectedSongs {
            width: 20vw;
        }
    }
}