.searchItem {
    background-color: rgba(87, 87, 87, 0.66);
    display: flex;
    width: 100%;
    max-width: 250px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    .image {
        height: 100%;
        object-fit: contain;
    }

    .text {
        flex: 1;
    }

    p {
        margin: 0;
        font-size: 14px;
        margin-right: 15px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .artists {
        color: rgba(255, 255, 255, 0.728);
        -webkit-line-clamp: 1;
        /* number of lines to show */
        line-clamp: 1;
    }

    .text {
        margin-left: 15px;
    }

    .check,
    .delete {
        width: 22px;
        margin-right: 18px;
    }

    .delete {
        display: none;
    }
}

.searchItem:hover {
    background-color: rgba(179, 179, 179, 0.8);
    transform: scale(1.02);
}

.searchItem.selected {
    background-color: #1ed75f;
}

.searchItem.selected.canDelete:hover {
    background-color: red;

    .delete {
        display: block;
        width: 25px;
    }

    .check {
        display: none;
    }
}