.song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    width: 95%;
    margin: 0 auto;

    .image-container {
        margin: auto 0;
        height: 40px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    p {
        font-size: 14px;
        margin: 0;
    }

    .index {
        text-align: center;
        margin: auto 10px auto 20px;
        font-size: 13px;
    }

    .index,
    .artist,
    .album {
        color: rgba(255, 255, 255, 0.728);
    }

    .text {
        flex: 1;
        padding: 0 20px 0 10px;
    }

    .album {
        flex: 1;
    }

    .artist,
    .name {
        padding-top: 5px;
    }

    .name,
    .artist,
    .album {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .artist,
    .name {
        line-height: 0.8;
    }

    button {
        display: block;
        float: left;
        font-weight: 500;
        color: white;
    }

    button:hover {
        transform: none;
    }
}

.song:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.03);
}

@media (max-width: 1200px) {
    .song {
        button {
            padding: 8px 23px;
        }
    }
}

@media (max-width: 600px) {
    .song {
        .album {
            display: none;
        }
    }
}