html,
body {
    font-family: 'Figtree', sans-serif;
    /* background-color: #121212; */
    color: #fff;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}


/* BUTTONS */
button,
a {
    padding: 12px 30px;
    margin: 15px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin: auto 10px;
}

button:hover,
a:hover {
    transform: scale(1.04);
    transition: all 0.2s ease-in-out;
}

button.green,
a.green {
    background-color: #1ed75fdf;
    border: none;
}

button.green:hover,
a.green:hover {
    background-color: #1ed75f;
}

button.transparent {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(255, 255, 255, 0.5);
}

button.transparent:hover {
    border: white 1px solid;
}

button.red {
    background-color: #9f1f1f;
    color: white;
}

button.red:hover {
    background-color: #d92424;
}

button.blue,
a.blue {
    font-weight: 400;
    background-color: #0f6dcd;
    color: white;
}

button.blue:hover,
a.blue:hover {
    background-color: #a00e9e;
}

/* LINKS */
a {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 80px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 20px;
}

/* INPUT */
input {
    height: 40px;
    min-width: 200px;
    border: none;
    border-radius: 20px;
    text-indent: 20px;
    width: 99%;
}

input:focus {
    outline: none;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #59a6f3ac;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -4px;
    /* Centers thumb on the track */
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #008cb4;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #ffffff;
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid #ffffff;
    outline-offset: 0.125rem;
}

/* ERROR */
.error {
    color: #be2323;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin: 20px 40px;
}